.messages_box
  グループを作成しました
.chatspace
  .chat-side
    .chat-user
      .chat-user__name
        ochanji2218
      .chat-user__action
        .chat-user__action__user

          %i.fa.fa-pencil-square-o <i class="fas fa-cog"></i>
          

    .chat-group
      .chat-group__name
        %p サンプル
      .chat-group__message
        %p よろしくお願いします
        
  .chat-main
    .chat-header
      .chat-header__left
        %h2.group サンプル
        %p.user Members: ochanji2218

      .chat-header__right
        %a.edit-btn Edit

    .chat-body
      %ul.chat-contents
        %li.chat-content
          .chat-content__header
            .chat-content__name
              %p ochanji2218
            .chat-content__time
              %p 2019/06/17 00:00:00
          .chat-content__message
            %p はじめまして
        %li.chat-content
          .chat-content__header
            .chat-content__name
              %p ochanji2218
            .chat-content__time
              %p 2019/06/17 00:00:00
          .chat-content__message
            %p よろしくお願いします
            
    .chat-footer
      .chat-footer__messagebody
        .chat-footer__messagebody__text
          %textarea{ placeholder: 'type a message' }
        .chat-footer__messagebody__image
          %i.fa.fa-picture-o
      .chat-footer__send
        %a.send-btn Send